[submodule "perf-tools"]
	path = perf-tools
	url = https://github.com/brendangregg/perf-tools.git
[submodule "perf-scripts"]
	path = perf-scripts
	url = https://github.com/tgrabiec/perf-scripts.git
[submodule "intel-cmt-cat"]
	path = intel-cmt-cat
	url = https://github.com/intel/intel-cmt-cat.git
